# AWS Configuration
AWS_REGION=us-east-1

# Amazon Cognito
COGNITO_USER_POOL_ID=YOUR_COGNITO_USER_POOL_ID
COGNITO_CLIENT_ID=YOUR_COGNITO_CLIENT_ID
COGNITO_CLIENT_SECRET=YOUR_COGNITO_CLIENT_SECRET

# Flask Secret Key
SECRET_KEY=YOUR_FLASK_SECRET_KEY

# Amazon S3
S3_BUCKET_NAME=YOUR_S3_BUCKET_NAME
